.view__caption {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-top: 17px;
  }
  
  @media screen and (max-width: 450px) {
    .view__caption {
      margin-top: 10px;
    }
  }